.navbar {
    background: #554975;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar h1 {
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    padding: 0px 10px;
    cursor: pointer;
}

.toggle-icon {
    font-size: 2rem;
}